*{margin: 0;padding: 0;}
#logo{
    width: 300px;
    height: 100%;
    float: left;
    font-size: 3em;
    font-weight: bold;
}
#cabeza{
    width: 100vh 100%;
    height: 80px;
    background: #87B401;
}
#cabeza img{
    width: 100px;
    height: 80px;
    margin-left: 100px;
    border-radius: 5%;
}
#cabeza nav{
    height: 100%;
    float: right;
}
#cabeza nav ul{
    list-style: none;
    height: 100%;
}
#cabeza nav ul li{
    float: left;
    margin: 0.15px;
    height: 100%;
    font-size: 1.3em;
}
#cabeza nav ul li a:hover{
    color: rgb(221, 220, 220) !important;
}
#cabeza nav ul li a:link,#cabeza nav ul li a:visited{
    padding:25px; 
    display: block;
    height: 100%;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
body{
    background-color: white;
}
#prueba{
    width: 155vh;
    height: 81vh;
    background-image: url(Imagenes/presente.jpg);
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}
#proba{
    position: absolute;
}
#titul{
    list-style: none;
    text-decoration: none;
    color: white;
}
#proba h1{
    text-align: center;
    font-size: 3em;
}
#proba p{
    color: white;
    font-size: 1.2em;
}
#prueban{
    font-size: 1.6em;
    margin-top: 50px;
    color: red;
    position: absolute;
    text-align: center;
    right: 40px;
}
#textt{
    position: absolute;
    right: 10px;
    margin-top: 30px;
    font-size: 0.9em;
    right: 30px;
    color: white;
}
#special{
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    background: rgb(245, 245, 245);
}
#special img{
    width: 50%;
    height: 100%;
    float: left;
}
#special h1{
    font-size: 2em;
    text-align: center;
    padding-top: 1vh;
    margin-top: 50px;
}
#titulo{
    list-style: none;
    text-decoration: none;
    color: black;
}
#special p{
    text-align: center;
    padding-top: 40px;
    font-size: 1.2em;
}
#notice{
    width: 160vh;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}
#notice h1{
    font-size: 4em;
    margin-left: 30px;
}
#meses{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    padding: 2em 0 1em;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.importante{
    background-color: white;
    width: 48vh;
    height: 400px;
    margin-left: 40px;
}
.importante img{
    width: 90%;
    height: 300px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.importante h2{
    font-size: 1.3em;
    text-align: center;
}
#ache{
    margin-top: 50px;
}
#rival{
    width: 165vh;
    height: 30vh;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#rivales{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    padding: 2em 0 1em;
}
.equipos{
    background-color: #87B401;
    width: 50vh;
    height: 150px;
    margin-left: 30px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
.equipos img{
    width: 30%;
    height: 12vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.equipos p{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5em;
}
.marco{
    width: 10%;
    height: 20%;
    background: white;
    text-align: center;
    padding-top: 5px;
}
.tiempo{
    width: 50vh;
    height: 30px;
    text-align: center;
    margin-left: 30px;
    background: rgb(245, 245, 245);
}
#tiempos{
    cursor: pointer;
    color: #87B401;
}
#noticias{
    width: 80%;
    height: 55vh;
    background: rgb(218, 218, 218);
    margin: 0 auto;
    margin-top: 100px;
}
#listado{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.fa-angle-left{
    margin-top: 15px;
}
#flechaiz{
    margin-left: 50px;
    font-size: 2em;
    color: white;
    background: #87B401;
    border-radius: 45%;
    width: 70px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}
#flechade{
    margin-left: 5px;
    margin-right: 50px;
    font-size: 2em;
    color: white;
    background: #87B401;
    border-radius: 45%;
    width: 70px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}
#listado .fa-angle-right{
    margin-top: 15px;
}
.lista{
    width: 31vh;
    height: 40vh;
    background: rgb(245, 245, 245);
    margin-left: 10px;
    margin-right: 10px;
}
.lista img{
    width: 100%;
    height: 70%;
}
#nombre{
    font-size: 1.3em;
    text-align: center;
    padding-top: 5px;
}
#venta{
    color: #87B401;
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
}
#compra{
    text-align: center;
    font-size: 1.5em;
    color: #6f9400;
    cursor: pointer;
}
#designers{
    width: 130vh;
    height: 40vh;
    background: red;
    margin: 0 auto;
}
